<?xml version="1.0"?>
<launch>
	<arg name="_name" default="amg_bot"/>
	<arg name="_port" default="/dev/ttyUSB0"/>
	<group ns="$(arg _name)">
		<node name="RosAria" pkg="rosaria" type="RosAria" output="screen">
			<param name="_port" value="$(arg _port)"/>
		</node>
		<node name="rosaria_motion_node" pkg="rosaria_motion" type="rosaria_motion_node" output="screen">
			<param name="robot_name" value="$(arg _name)"/>
		</node>
		<node name="rosaria_motion_client_node" pkg="rosaria_motion" type="rosaria_motion_client_node" output="screen">
		</node>
	</group>
</launch>
